<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Placement Tracker Point</title>
</head>
<body>

  <h1>📊 Progress Dashboard</h1>

  <!-- Table Section -->
  <table border="7" cellpadding="15">
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>Start date</th>
      <th>End Date</th>
      <th>Difficulty Level</th>
      <th>Status</th>

    </tr>
    {% for t in tasks %}
    <tr>
      <td>{{ t[1] }}</td>
      <td>{{ t[2] }}</td>
      <td>{{ t[3] }}</td>
      <td>{{ t[4] }}</td>
      <td>{{ t[5] }}</td>
      <td>{{ t[6] }}</td>
    </tr>
    {% endfor %}
  </table>

  <hr>

  <!-- Add Task Form Section -->
  <h2>➕ Add New Task</h2>
<h3 style="color: #ad006d;">📊 Welcome to Your Placement Tracker</h3>
<p style="font-size: 1.1em;">Track your tasks and shine in your career journey!</p>

  <form method="POST">
    <label for="date">Date:</label><br>
    <input type="date" id="date" name="date" required><br><br>
    <label for="start date">Start Date:</label><br>
    <input type=" start date" id=" start date" name="start date" required><br><br>
    <label for="End date">End Date:</label><br>
    <input type=" end date" id=" end date" name="end date" required><br><br>

    <label for="task">Task:</label><br>
    <input type="text" id="task" name="task" required><br><br>

    <label for="status">Status:</label><br>
    <select id="status" name="status" required>
      <option value="⏳ In Progress">⏳ In Progress</option>
      <option value="✅ Completed">✅ Completed</option>
      <option value="🔜 Upcoming">🔜 Upcoming</option>
      
    </select><br><br>
    <label for="status">Difficulty level:</label><br>
    <select id="difficulty level" name="difficulty level" required>
      <option value="Easy">Easy</option>
        <option value="medium">Medium</option>
          <option value="difficult">Difficult</option>
          <br>

    <button type="submit">Add Task</button>
  </form>

</body>
</html>
